html{
    height: 100%;
}

body{
    background-color: black;
    height: 100%;
}

.banner{
    background-image: url("Images/Banner.png");
    background-position: center;
    background-size: 100% 100%;
    background-color: white;
    background-repeat: no-repeat;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    width: 50%;
    height: 10%;
    top: 10%;
    left: 25%;
}

.indicatorLight{
    background-color: cyan;
    border-radius: 50%;
    position: absolute;
    width: 3%;
    height:0;
    padding-bottom: 3%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    top: 23%;
}

.leftButton{
    background-image: url("Images/LeftArrow.png");
    background-position: center;
    background-size: 40% 45%;
    background-color: white;
    background-repeat: no-repeat;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    width: 30%;
    height: 20%;
    top: 30%;
    left: 15%;
}

.rightButton{
    background-image: url("Images/RightArrow.png");
    background-position: center;
    background-size: 40% 45%;
    background-color: white;
    background-repeat: no-repeat;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    width: 30%;
    height: 20%;
    top: 30%;
    left: 55%;
}

.spaceButton{
    background-image: url("Images/SpaceBar.png");
    background-position: center;
    background-size: 40% 200%;
    background-color: white;
    background-repeat: no-repeat;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    width: 70%;
    height: 15%;
    top: 60%;
    left: 15%;
}