html{
    height: 100%;
}

body{
    background-color: black;
    height: 100%;
}

#banner{
    background-image: url("Images/Banner.png");
    background-position: center;
    background-size: 100% 100%;
    background-color: white;
    background-repeat: no-repeat;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    width: 50%;
    height: 10%;
    top: 10%;
    left: 15%;
}

.clickableButton:hover{
    background-color: #d9d9d9 !important;
}

#aboutButton{
    background-image: url("Images/About.png");
    background-position: center;
    background-size: 100% 100%;
    background-color: white;
    background-repeat: no-repeat;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    width: 5%;
    height: 0%;
    padding-bottom: 5%;
    top: 10%;
    left: 73%;
}

.modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.modal-content{
    background-color: black;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    font-size: 30px;
    color: white;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

a:link{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: #d9d9d9;
}

#settingsButton{
    background-image: url("Images/Settings.png");
    background-position: center;
    background-size: 100% 100%;
    background-color: white;
    background-repeat: no-repeat;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    width: 5%;
    height: 0%;
    padding-bottom: 5%;
    top: 10%;
    left: 80%;
}

.indicatorLight{
    background-color: cyan;
    border-radius: 50%;
    position: absolute;
    width: 3%;
    height:0;
    padding-bottom: 3%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    top: 23%;
}

#messageIndicatorLight{
    left: 78%;
}

#responseIndicatorLight{
    left: 82%;
}

#leftButton{
    background-image: url("Images/LeftArrow.png");
    background-position: center;
    background-size: 40% 45%;
    background-color: white;
    background-repeat: no-repeat;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    width: 30%;
    height: 20%;
    top: 30%;
    left: 15%;
}

#rightButton{
    background-image: url("Images/RightArrow.png");
    background-position: center;
    background-size: 40% 45%;
    background-color: white;
    background-repeat: no-repeat;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    width: 30%;
    height: 20%;
    top: 30%;
    left: 55%;
}

#spaceButton{
    background-image: url("Images/SpaceBar.png");
    background-position: center;
    background-size: 40% 200%;
    background-color: white;
    background-repeat: no-repeat;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    width: 70%;
    height: 15%;
    top: 60%;
    left: 15%;
}